@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Lobster&family=Oswald&family=Poppins:wght@300;400;500;600;700&family=Righteous&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.navul {
  list-style: none;
  display: flex;
  justify-content: right;
  margin-right: 5%;
}

.navlink {
  font-size: 1em;
  cursor: pointer;
  color: #fff;
  margin: -0.8% 2%;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-weight: 600;
}

nav {
  background-color: #333;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
}

h1 {
  font-family: 'Righteous', sans-serif;
  font-weight: 700;
  margin-top: 2em;
  margin-left: 3%;
  color: #116d6e;
}

nav img {
  margin-bottom: -30px;
  margin-top: -3%;
  margin-left: 3%;
  align-self: center;
  cursor: pointer;
  transition: 0.3s ease-in;
}

nav img:hover {
  transform: scale(1.12);
}

.navlink:hover {
  color: #dde6ed;
}
