body {
  background: linear-gradient(90deg, rgba(234,146,21,1) 40%, rgba(255,255,255,1) 100%);

}

.calculator {
  width: 360px;
  margin: -5% 48%;
  border: 1px solid #fff;
  padding: 40px 100px;
  border-radius: 12px;
}

.button {
  width: 90px;
  height: 55px;
  border: 1px solid #d3d3d3;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.zero-button {
  width: 180px;
}

.display {
  background-color: #90a4ae;
  width: 360px;
  color: #fff;
  margin: auto;
  text-align: right;
  padding: 1px 0;
  font-size: 1em;
  font-weight: bolder;
}

.sign {
  background-color: #ea9215;
}

.button:hover {
  color: #90a4ae;
}

.qoute-container {
  width: 70%;
  margin-left: 5%;
  margin-top: 5%;
}

.home-container {
  max-width: 100%;
  width: 80%;
  padding: 40px 20px;
  padding-inline: 20px 40px;
  margin: auto;
  border-radius:80px 0 60px 0;
  background-color: #333;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.4;
  text-align: justify;
}

h3 {
  margin: 5% 15%;
}
